[package]
name = "proxy-wasm"
version = "0.1.0"
edition.workspace = true
license.workspace = true
authors.workspace = true

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
proxy-rewriter = { path = "../proxy-rewriter" }
url.workspace = true
wasm-bindgen.workspace = true
